name: Chekout
on: [push]
jobs:
  checkout-and-display-files:
    runs-on: ubuntu-latest
    steps:
    - name: List Files Before
      run: ls -a
    - name: Checkout
      run: |
        git init
        git remote add origin "https://$GITHUB_ACTOR:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}.git"
        git fetch origin
        git checkout main
    - name: List Files After
      run: ls -a
