name: Pull Request Comment
on:
  pull_request:
    types: [opened]


jobs:
  pr-comment:
    runs-on: ubuntu-latest
    permissions:
      issues: read
    steps:
      - name: Comment on new PRs
        uses: actions/github-script@v6
        with:
          script: |
            github.rest.issues.createComment({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: context.issue.number,
              body: "Thank you for your contribution! Thanks again."
            })
            
       
